#!/bin/sh

alias b='redshift -P -O 3000 -b' \
	c='clear' \
	cp='sudo cp -r' \
	d='cd /home/odin/Documents' \
	D='cd /home/odin/Downloads' \
	dla='youtube-dl -x --audio-format mp3' \
	h='cd /home/odin' \
	ls='ls -h --color=auto --group-directories-first' \
	la='ls -a' \
	lbin='cd /home/odin/.local/bin' \
	ll='ls -lo' \
	lsrc='cd /home/odin/.local/src' \
	make='sudo make' \
	mv='sudo mv' \
	npm='sudo npm' \
	reboot='sudo reboot' \
	rm='sudo rm' \
	seek='sudo grep -rn ./ -e' \
	shutdown='sudo shutdown' \
	top='htop' \
	va='vim ~/.aliases' \
	vhkd='vim ~/.config/sxhkd/sxhkdrc' \
	vim='nvim' \
	vkpurge='sudo vkpurge' \
	xi='sudo xbps-install' \
	xq='sudo xbps-query' \
	xr='sudo xbps-remove -R' \
	zip='zip -r' \
