/*
!.aliases
!/.config
/.config/*
!/.config/nvim/init.vim
!/.config/sxhkd/sxhkdrc
!.doom.d
!.gitignore
!/.local
.local/*
!/.local/src
.local/src/*
!/.local/src/scripts
!Pictures
/Pictures/*
!Pictures/wall.jpg
!.xinitrc
!.zprofile
!.zshrc
